<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="NuvoControl.Server.Service.MandC.MonitorAndControlService" behaviorConfiguration="NuvoControl.Server.Service.MandC.MonitorAndControlServiceBehavior">
        <endpoint address="" binding="wsDualHttpBinding" contract="NuvoControl.Common.Interfaces.IMonitorAndControl" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/MonitorAndControlService" />
          </baseAddresses>
        </host>
      </service>
      <service name="NuvoControl.Server.Service.Configuration.ConfigurationService" behaviorConfiguration="NuvoControl.Server.Service.Configuration.ConfigurationServiceBehavior">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="ReliableWS" contract="NuvoControl.Common.Interfaces.IConfigure" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/ConfigurationService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="ReliableWS">
          <reliableSession enabled="true"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NuvoControl.Server.Service.MandC.MonitorAndControlServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="NuvoControl.Server.Service.Configuration.ConfigurationServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>