<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NuvoControl.Server.FunctionServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="NuvoControl.Server.FunctionServer.Properties.FunctionServer" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NuvoControl.Server.FunctionServer.Properties.Settings>
            <setting name="RenewPlaySoundCommandIntervall" serializeAs="String">
                <value>60</value>
            </setting>
        </NuvoControl.Server.FunctionServer.Properties.Settings>
        <NuvoControl.Server.FunctionServer.Properties.FunctionServer>
            <setting name="FunctionIntervall" serializeAs="String">
                <value>30</value>
            </setting>
        </NuvoControl.Server.FunctionServer.Properties.FunctionServer>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
