<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <!-- Setting for common logger 
       NOTE: These two blocks need to be before any definition for web servcices (e.g. <system.serviceModel>), etc..
             Otherwise an exepction occurs at startup ???  -->
  
    <configSections>
      <sectionGroup name="common">
        <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
      </sectionGroup>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NuvoControl.Server.HostConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
 
    <common>
      <logging>
        <factoryAdapter type="Common.Logging.Simple.TraceLoggerFactoryAdapter, Common.Logging">
          <arg key="level" value="ALL"/>
          <arg key="showDateTime" value="false"/>
          <arg key="showLogName" value="true"/>
        </factoryAdapter>
        <!--
        <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
          <arg key="level" value="DEBUG"/>
        </factoryAdapter>
        -->
      </logging>
    </common>
  
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  
    <applicationSettings>
        <NuvoControl.Server.HostConsole.Properties.Settings>
            <setting name="NuvoControlRemoteKonfigurationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ConfigurationCheckIntervall" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NuvoControlKonfigurationFile" serializeAs="String">
                <value>./Config/NuvoControlKonfiguration.xml</value>
            </setting>
        </NuvoControl.Server.HostConsole.Properties.Settings>
    </applicationSettings>
  
</configuration>