<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NuvoControl.Client.ServiceAccess.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMonitorAndControl" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:1:00" />
                    <security mode="Message">
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" />
                    </security>
                </binding>
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IConfigure" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="true" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ConfigurationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IConfigure"
                contract="ConfigurationService.IConfigure" name="WSHttpBinding_IConfigure">
                <identity>
                    <userPrincipalName value="LimacheB@ww020.siemens.net" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/MonitorAndControlService"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMonitorAndControl"
                contract="MonitorAndControlService.IMonitorAndControl" name="WSDualHttpBinding_IMonitorAndControl">
                <identity>
                    <userPrincipalName value="LimacheB@ww020.siemens.net" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <NuvoControl.Client.ServiceAccess.Properties.Settings>
            <setting name="ClientIPOrName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
        </NuvoControl.Client.ServiceAccess.Properties.Settings>
    </userSettings>
</configuration>