<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="NuvoControl.Server.Service.NuvoControlService" behaviorConfiguration="NuvoControl.Server.Service.NuvoControlServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="NuvoControl.Common.Interfaces.INuvoControl" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/NuvoControlService" />
          </baseAddresses>
        </host>
      </service>
      <service name="NuvoControl.Server.Service.Configuration.NuvoControlConfiguration" behaviorConfiguration="NuvoControl.Server.Service.Configuration.NuvoControlConfigurationBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="NuvoControl.Common.Interfaces.IConfigure" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8080/NuvoControlConfiguration" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NuvoControl.Server.Service.NuvoControlServiceBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
        <behavior name="NuvoControl.Server.Service.Configuration.NuvoControlConfigurationBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>